# LISTS, TUPLES, SETS AND DICTIONARIES

## LIST METHODS

In [39]:
#create empty list.
new_list=[]
new_list= list()

In [1]:
#append() - This method adds an item to the end of the list.
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [2]:
#insert() - Inserts an element at a specified position in a list. insert(specified position, the element we want to insert)
my_list = [1, 2, 3]
my_list.insert(1, 4)
print(my_list)  # Output: [1, 4, 2, 3]

[1, 4, 2, 3]

In [3]:
#extend() - Appends all the elements from another iterable to the end of a list.
my_list = [1, 2, 3]
another_list = [4, 5, 6]
my_list.extend(another_list)
print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [4]:
#remove() - Removes the first occurrence of a specified element from a list.
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)  # Output: [1, 3, 2]

[1, 3, 2]

In [5]:
#pop() - Removes and returns the element at a specified position in a list.
my_list = [1, 2, 3]
popped_element = my_list.pop(1)
print(popped_element)  # Output: 2
print(my_list)  # Output: [1, 3]

2
[1, 3]

In [6]:
#index() - Returns the index of the first occurrence of a specified element in a list.
my_list = [1, 2, 3, 2]
index = my_list.index(2)
print(index)  # Output: 1

1

In [7]:
#sort() - Sorts the elements of a list in ascending order.
my_list = [3, 1, 2]
my_list.sort()
print(my_list)  # Output: [1, 2, 3]

#sorted(list) - Sort the elements of a list in ascending order and assign to a new list without changing the original list
my_list = [3, 1, 2]
new_list= sorted(my_list)
print(my_list) # Output: [1, 2, 3]
print(new_list) # Output: [1, 2, 3]

[1, 2, 3]
[3, 1, 2]
[1, 2, 3]

In [8]:
#reverse() - Reverses the order of elements in a list.
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)  # Output: [3, 2, 1]

[3, 2, 1]

In [9]:
#count() - Returns the number of occurrences of a specified element in a list.
my_list = [1, 2, 3, 2]
count = my_list.count(2)
print(count)  # Output: 2

2

In [14]:
#copy() - This method returns a shallow copy of the list.
list = [1, 2, 3]
new_list = list.copy()
list.append(4)
print(new_list)
print(list)

[1, 2, 3]
[1, 2, 3, 4]

In [19]:
# "".join() - This method is called on the separator string and accepts the iterable as its argument.
my_list = ['Hello', 'world', 'how', 'are', 'you?']
result = ' '.join(my_list)
print(result)  #Output: Hello world how are you?

my_string = 'Hello'
result = '-'.join(my_string)
print(result)  #Output: H-e-l-l-o

my_list = ['apple', 'banana', 'orange', 'grape']
result = ', '.join([item for item in my_list if 'a' in item])
print(result)  #Output: apple, banana, orange, grape

Hello world how are you?
H-e-l-l-o
apple, banana, orange, grape

In [22]:
#split() - This method s used to split a string into a list of substrings based on a specified delimiter. string.split(delimiter, maxsplit)
my_string = "Hello world, how are you?"
result = my_string.split()
print(result) #Output: ['Hello', 'world,', 'how', 'are', 'you?']

my_string = "apple,banana,orange,grape"
result = my_string.split(',')
print(result) #Output: ['apple', 'banana', 'orange', 'grape']

my_string = "apple,banana,orange,grape"
result = my_string.split(',', maxsplit=2)
print(result) #Output: ['apple', 'banana', 'orange,grape']

['Hello', 'world,', 'how', 'are', 'you?']
['apple', 'banana', 'orange', 'grape']
['apple', 'banana', 'orange,grape']

## TUPLE METHODS

#### Tuples are immutable set of variables. Unlikely lists, we cannot use "remove", "pop", "append", "extend" or "insert" methods since they mutate tuples.

#### However, methods like "count", "index" that do not mutate tuples can be used.

In [41]:
#create empty tuple.
new_tuple= ()
new_tuple= tuple()

In [36]:
#We can create immutable copy lists by using tuple() method.
liste = [1,2,3]
new_liste = list(tuple(liste))
liste.append(4)
print(liste) #Output: [1, 2, 3, 4]
print(new_liste)  #Output: [1, 2, 3]

## SET METHODS

In [40]:
#create empty set.
new_set= {} #This is not right! It is a dict.
new_set= set()

In [1]:
#add(): Adds an element to the set.
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [2]:
#update(): Adds multiple elements to the set.
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [3]:
#remove(): Removes an element from the set. Raises a KeyError if the element is not found.
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}

{1, 3}

In [4]:
#discard(): Removes an element from the set if it is present, without raising an error if the element is not found.
my_set = {1, 2, 3}
my_set.discard(2)
print(my_set)  # Output: {1, 3}

{1, 3}

In [5]:
#pop(): Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.
my_set = {1, 2, 3}
removed_element = my_set.pop()
print(removed_element)  # Output: 1
print(my_set)  # Output: {2, 3}

1
{2, 3}

In [7]:
#clear(): Removes all elements from the set, making it an empty set.
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

set()

In [8]:
#copy(): Returns a shallow copy of the set.
my_set = {1, 2, 3}
new_set = my_set.copy()
print(new_set)  # Output: {1, 2, 3}

{1, 2, 3}

In [9]:
#union(): Returns a new set containing all elements from the set and the specified iterable(s).
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [10]:
#intersection(): Returns a new set containing elements that are common to the set and the specified iterable(s).
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

In [12]:
#difference(): Returns the set difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}
diff_set = set1.difference(set2)
print(diff_set)  # Output: {1, 2, 3}

#You can also use the "-" operator to achieve the same result:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}
diff_set = set1 - set2
print(diff_set)  # Output: {1, 2, 3}

{1, 2, 3}
{1, 2, 3}

## DICTIONARY METHODS

In [14]:
#create empty dict.
new_dict= {}
new_dict= dict()

# You can create a dictionary by enclosing key-value pairs in curly braces {} or by using the dict() constructor.
my_dict = {"key1": "value1", "key2": "value2"}
another_dict = dict(key1="value1", key2="value2")

In [19]:
dict = {'name': 'John Doe', 'age': 30, 'occupation': 'Software Engineer'}

# Get the keys of the dictionary
print(dict.keys())
# ['name', 'age', 'occupation']

# Get the values of the dictionary
print(dict.values())
# ['John Doe', 30, 'Software Engineer']

# Get the key-value pairs of the dictionary
print(dict.items())
# [('name', 'John Doe'), ('age', 30), ('occupation', 'Software Engineer')]

# To uslist(dict.values()e these lists as a new list, you must assign a new list.
keys=list(dict.keys())
values= list(dict.values())
items=list(dict.items())
print(keys)

dict_keys(['name', 'age', 'occupation'])
dict_values(['John Doe', 30, 'Software Engineer'])
dict_items([('name', 'John Doe'), ('age', 30), ('occupation', 'Software Engineer')])
['name', 'age', 'occupation']

In [20]:
# Get the value associated with the key 'name'
print(dict.get('name'))
# John Doe

# Get the value associated with the key 'occupation', if it does not exist, return 'Student'
print(dict.get('occupation', 'Student'))
# Software Engineer

John Doe
Software Engineer

In [21]:
# You can access values in a dictionary using their corresponding keys.
my_dict = {"name": "John", "age": 30}
print(my_dict["name"])  # Output: "John"

John

In [22]:
# You can add or modify items in a dictionary using the assignment operator (=).
my_dict = {"name": "John", "age": 30}
my_dict["city"] = "New York"  # Adding a new item
my_dict["age"] = 31  # Modifying an existing item

In [24]:
# You can modify or add more than one items in a dictionary using uptade() method.
dict2 = {'city': 'New York', 'state': 'New York'}
dict.update(dict2)
print(dict)

{'name': 'John Doe', 'age': 30, 'occupation': 'Software Engineer', 'city': 'New York', 'state': 'New York'}

In [25]:
#You can remove items from a dictionary using the del keyword or the pop() method.
my_dict = {"name": "John", "age": 30}
del my_dict["age"]  # Removing a specific item
my_dict.pop("name")  # Removing and returning a specific item

'John'

In [29]:
student = {"name":"john", "age":25,"courses":["math","compSci"]}

for key in student:
    print(key)

name
age
courses

In [33]:
for key,value in student.items():
    print(key,value, sep="=")

name=john
age=25
courses=['math', 'compSci']

In [34]:
# If you want to access to a key by using its value, use this method.
def find_key(dictionary, value):
    for key, val in dictionary.items():
        if val==value:
            return key
    raise ValueError("Value not found in the dictionary")